*.dotCover
StyleCop.Cache
!*.?.?.ReSharper
_TeamCity*/
_dotTrace*/
*.orig
*.tmp_*

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]uild/
[Bb]in/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ClientBin/
Generated_Code/

!.nuget/
!NuGet.exe
!packages.config
packages/*/
**/packages/**/
Splash.png
!packages/repositories.config
*.deleteme

solution/documentation/**/*.*
!solution/documentation/**/*.gv
!solution/documentation/**/*.md
!solution/documentation/**/*.txt

*.suo
*.svclog


*.ncrunch
nCrunchTemp_*
_NCrunch_*/
us.stackdump
odx-import-report.zip
*.sln.ide/
solution/app/Swimmy.Web/bower_components/angucomplete-alt/*
solution/app/Swimmy.Web/bower_components/angular/*
solution/app/Swimmy.Web/bower_components/angular-base64/*
solution/app/Swimmy.Web/bower_components/angular-file-upload/*
solution/app/Swimmy.Web/bower_components/bootstrap/*
solution/app/Swimmy.Web/bower_components/jquery/*
solution/app/Swimmy.Web/bower_components/tg-angular-validator/*
solution/app/Swimmy.Web/bower_components/angular-bootstrap/*
solution/app/Swimmy.Web/bower_components/angular-loading-bar/*
solution/app/Swimmy.Web/bower_components/raty/*
solution/app/Swimmy.Web/node_modules/grunt-contrib-copy/*
solution/app/Swimmy.Web/node_modules/grunt-contrib-watch/*
solution/app/Swimmy.Web/bower_components/fancybox/*
solution/app/Swimmy.Web/bower_components/toastr/*
solution/app/Swimmy.Web/bower_components/modernizer/*
solution/app/Swimmy.Web/bower_components/raphael/*
solution/app/Swimmy.Web/bower_components/underscore/*
solution/app/Swimmy.Web/bower_components/angular-route/
solution/app/Swimmy.Web/bower_components/angular-cookie/
solution/app/Swimmy.Web/bower_components/morris.js/
solution/app/Swimmy.Web/bower_components/font-awesome/
solution/app/Swimmy.Web/bower_components/mocha/
solution/app/Swimmy.Web/bower_components/angular-cookies/
